<a href="https://colab.research.google.com/github/acheikh2/IADS-2022-summer-school/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Variables
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [ ]:

x = 2
y = 5
xy = 'Hello'

In [ ]:
print(x+y, xy)

7 Hello

In [ ]:
# Multiple variables can be assigned with the same value

x = y = 1

print(x,y)

1 1

### Operators

#### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [ ]:
1+2

3

In [ ]:
2-1

1

In [ ]:
1*2

2

In [ ]:
1/2

0.5

In [ ]:
15%10

5

In [ ]:
#Floor division is nothing but converting the result so obtained to the nearest integer.
2.8//2.0

1.0

## Relational Operators
| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [5]:
z = 1

In [9]:
z == 1

True

In [10]:
z > 1

False

In [14]:
print(round(5.6231))
print(round(4.55892, 2))

6
4.56

In [ ]:
divmod(9,4)

(2, 1)

In [ ]:
pow(2,3)

8

## Print


In Python, single, double and triple quotes are used to denote a string. Most use single quotes when declaring a single character. Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [15]:
print('H')

H

In [16]:
print("Hello World")

Hello World

In [21]:
print("""I am from Essex.
I love Python.""")

I am from Essex
I love Python.

In [22]:
string1 = "World"
print("Hello", string1)

Hello World

In [23]:
string2 = '!'
print("Hello", string1, string2)

Hello World !

In [ ]:
print("Hello" + string1 + string2)

HelloWorld!

In [ ]:
print("Hello %s" % string1)

Hello World

In [ ]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)

Actual Number = 18
Float of the number = 18.000000

In [ ]:
print("Hello %s %s" %(string1,string2))

Hello World !